:root {
  --color-primary: #00a1ff;
  --color-secondary: #8965e5;
  --color-primary-emphasis: #0091e5;
  --color-secondary-emphasis: #673ade;
  --color-lightprimary: #00a1ff20;
  --color-lightsecondary: #8965e520;
  --color-info: #46caeb;
  --color-success: #22bb33;
  --color-warning: #ffb900;
  --color-error: #ff6692;
  --color-lightsuccess: #00ceb625;
  --color-lighterror: #ff669230;
  --color-lightinfo: #46caeb25;
  --color-lightwarning: #ffb90025;
  --color-white: #fff;
  --color-dark: #111c2d;
  --color-border: #e0e6eb;
  --color-bordergray: #cfd6db;
  --color-link: #2a3547;
  --color-muted: #eff4fa;
  --color-darklink: #7b8893;
  --color-lightgray: #f8fafd;
}
